{{ define "main" }}
<article>
    <header id="post-header">
        <nav class="back-nav">
            <a href="/" class="back-button">Back</a>
        </nav>
        <h1>{{ .Title }}</h1>
        <div>
        {{- if isset .Params "date" -}}
            <time>{{ .Date | time.Format (i18n "post.created") }}</time><br />
            {{ if ne .Lastmod .Date }}
                <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
            {{ end }}
        {{- end -}}
        </div>
    </header>
    {{- .Content -}}
</article>
{{ end }}
